### yarn ###
# https://yarnpkg.com/advanced/qa#which-files-should-be-gitignored

.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

### Node ###

node_modules/
dist/
!dist/_redirects
docs/

yarn-error.log
